name: publish-to-modrinth

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish to Modrinth
        uses: Kira-NT/mc-publish@v3.3.0
        with:
          modrinth-id: TIgmIR8Q
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          version-type: release
          loaders: fabric
          game-versions: 1.21.11
          java: 21
      - name: Upload jar to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/libs/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
